#container-row {
  height: 100vh;
}
.sidebar {
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.chart-square {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
}

.chart-square:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  cursor: pointer;
}

.sidebar {
  overflow-y: auto;
  height: 100vh;
}

summary {
  font-weight: bold;
}