main {
  overflow-y: auto;
  height: 100vh;
}

summary {
  font-weight: bold;
}

button {
  margin-bottom: 1rem;
}

.sidebar {
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.chart-square {
  margin: 0.1rem;
}

.chart-square:hover {
  position: relative;
  top: -1px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  cursor: pointer;
}

.sidebar {
  overflow-y: auto;
  height: 100vh;
}

#container-row {
  height: 100vh;
}

#aye {
  color: green;
}

#nay {
  color: red;
}

#party-list {
  min-width: 50%;
  padding: .25rem 1rem;
  margin-bottom: 1rem;
}

#party-list > a {
  margin: 0 .5rem;
}

#re-elect:hover {
  text-decoration: none;
  position: relative;
  top: -1px;
  text-shadow: rgba(0, 0, 0, .2) 0 1px 1px;
}